/* Общие стили */

.page {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
}

/* Стили header */

.page__header {
    width: 1170px;
    margin-inline: 55px;
    margin-block-end: 50px;
    margin-block-start: 20px;
}

.main__nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 64px;
}

.site_navigation__list {
    list-style: none;
    width: 560px;
    display: flex;
    gap: 30px;
    margin-inline-start: auto;
    margin-inline-end: 40px;
}

.site_navigation__item {
    align-self: flex-end;
}

.site_navigation__item__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}

.signin {
    width: 36px;
    height: 36px;
}

/* Стили main */

.main_content{
    width: 1170px;
    margin-inline: 55px;
}

.section__title {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin-block-end: 55px;
}

/* Стили блока hero */

.section_hero {
    margin-block-end: 120px;
}

.section_hero__title {
    font-style: italic;
    font-weight: normal;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    margin-inline-start: 70px;
    margin-block-end: 40px;
}

.section_hero__img {
    width: 1170px; 
    height: 466px;
}

/* Общие стили блока блог */

.article_blog {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin-inline: 70px;
    gap: 30px;
}

.article_blog__title {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
    margin-block-end: 40px;
}

.article_blog__content {
    width: 400px;
}

.barticle_blog__img {
    width: 600px;
    height: 292px;
}

/* Стили артикль команда */

.article_blog_team {
    margin-block-end: 95px;
}

/* Стили артикль рожденные */

.article_blog_born {
    flex-direction: row-reverse;
    text-align: end;
    margin-block-end: 120px;
}

.article_blog__date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-block-end: 5px;
}

/* Стили блока галерея */

.gallery {
    margin-block-end: 110px;
}

.gallery__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.active__img {
    width: 970px;
}

.gallery__list__img {
    width: 170px;
    height: 150px;
}

.gallery__list {
    width: 170px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* Стили блока новости */

.section_news {
    margin-block-end: 125px;
}

.article__post_news {
    margin-inline-start: 200px;
}

.news_post__img {
    width: 770px;
    height: 301px;
    margin-block-end: 15px;

}

.news_post__figure {
    margin-block-end: 30px;
}

.news_post__figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
}

.news_post__title {
    font-size: 22px;
    line-height: 26px;
    margin-block-end: 30px;
}

.news_post__paragraph {
    font-size: 18px;
    line-height: 26px;
    width: 75%;
    margin-block-end: 15px;
}

.news_post__subtitle {
    font-size: 20px;
    line-height: 26px;
    margin-block-end: 17px;
}

.news_post__list {
    font-size: 18px;
    line-height: 26px;
    list-style: disc;
    margin-inline-start: 17px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-block-end: 30px;
}

.news_post__paragraph__ins {
    text-decoration: none;
}

.news_post__blockquote {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    position: relative;
    margin-inline-start: 22px;
    margin-block-start: 35px;
    margin-block-end: 28px;
}

.news_post__blockquote::before {
    position: absolute;
    content: '';
    width: 2px;
    background-color: #00c6bd;
    height: 70px;
    inset-inline-end: 967px;
}

.news_post__author_img {
    width: 60px;
    height: 60px;
    margin-inline-end: 15px;
}

.news_post__author_link {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #163152;
    text-decoration: none;
}

.news_post__author_time {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
}

.news_post__share_img {
    width: 26px;
    height: 26px;
    margin-inline-start: 525px;
}

.news_post__footer {
    margin-block-start: 40px;
    display: flex;
    align-items: center;
}

.news_post__footer__paragraph {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Стили блока контакты */

.contacts {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-block-end: 120px;
}

.contacts_content {
    width: 400px;
    margin-block-start: 50px;
}

.contacts__img_map {
    width: 670px;
    height: 351px;
}

.contacts_content__title {
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.contacts_content__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block-start: 30px;
}

.contacts_content__list__item {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    gap: 10px;
}

.contacts_content__list__item__title {
    font-size: 16px;
    line-height: 22px;
}

.contacts_content__list__item__address {
    font-style: normal;
}

.contacts_content__list__item__link {
    color: #163152;
    text-decoration: none;
}

.contacts_content__list_social {
    display: flex;
    gap: 15px;
}

.contacts_content__list__item_social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacts_content__list_social__item {
    border: 1px solid rgba(0, 198, 189, 1);
    border-radius: 20px;
    block-size: 40px;
    inline-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_social__item__img_facebook {
    width: 9px; 
    height: 16px;
}

.list_social__item__img_twitter {
    width: 18px;
    height: 16px;
}

.list_social__item__img_instagram {
    width: 18px; 
    height: 18px;
}

/* Стили footer */

.main-footer {

    font-size: 10px;
    line-height: 12px;
}

.footer-container {
    width: 1170px;

    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 175px;
}

.main-footer .logo {
    width: 100px;
}

.footer-navigation-topics {
    display: flex;
    justify-content: space-between;
    width: 870px;
    list-style: none;

    font-size: 14px;
    line-height: 16px;
}

.footer-navigation-topic {
    width: 165px;
}

.footer-navigation-topic h2 {

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    list-style: none;

}

.footer-navigation-item a {
    color: #163152;
    text-decoration: none;
}

.policy a {
    color: #163152;
    text-decoration: none;
}
